<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>*.svc</h1>
    <ul>
	    <li><a href="svc-summary.html" target="content">Summary</a></li>
	    <li><a href="svc-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="svc-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>Session.svc</h1>
    <ul>
	    <li><a href="session-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="session-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>MarketPriceHistory.svc</h1>
    <ul>
	    <li><a href="marketpricehistory-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="marketpricehistory-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>
   
    <h1>Order.svc</h1>
    <ul>
	    <li><a href="order-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="order-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>trade.svc</h1>
    <ul>
	    <li><a href="trade-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="trade-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>Messages.svc</h1>
    <ul>
	    <li><a href="messages-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="messages-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>MarketInformation.svc</h1>
    <ul>
	    <li><a href="marketinformation-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="marketinformation-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>AccountInformation.svc</h1>
    <ul>
	    <li><a href="accountinformation-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="accountinformation-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>cfdmarkets.svc</h1>
    <ul>
	    <li><a href="cfdmarkets-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="cfdmarkets-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>spreadmarkets.svc</h1>
    <ul>
	    <li><a href="spreadmarkets-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="spreadmarkets-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>hedge.svc</h1>
    <ul>
	    <li><a href="hedge-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="hedge-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    <h1>watchlist.svc</h1>
    <ul>
	    <li><a href="watchlist-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="watchlist-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

    
    <h1>news.svc</h1>
    <ul>
	    <li><a href="news-StatusCodes.html" target="content">Status codes</a></li>
        <li><a href="news-summary_by_hour.html" target="content">Summary by hour</a></li>
    </ul>

</body>
</html>